.edit_panel {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    height: 500px;
    width: 300px;
    border: 1px solid black;
    background-color: lightcoral;

    
    input[type='text'], input[type='date'] {
        max-width: 100%;
    }
}

