.edit_panel {
    display: block;
    position: fixed;
    top: 30px;
    right: 0px;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: lightcoral;

    
    input[type='text'], input[type='date'] {
        max-width: 100%;
    }
}

