input[type="submit"] {
  width: 200px;
}

.progress-container {
  position: relative;
  max-width: 100%;
  height: 20px;
  padding: 3px 0;
  background-color: gray;

  border-radius: 20px;
}

.progress-bar {
  width: 0;
  transition: width, .5s;
  background: linear-gradient(90deg, hsla(360, 100%, 50%, 1), hsla(100, 100%, 50%, 1));
  border-radius: 20px;
  margin-left: 5px;
}

.prog-division {
  position: absolute;
  border-right: 5px solid #000;
  margin-right: 20%;
}

.card-holder {
    min-height: 500px;
    background: #b4d455;

}

@media(min-width: 768px) {
  .col-sm-2 {
    width: 14%;
    padding: 0;
    border: 1px solid #000;
  }
}

.card {
  display: inline-block;
  position: relative;
  cursor: move;

  height: 78px;
  width: 100%;

  border: 1px solid #666;
  background-color: gray;

  color: white;
  text-align: center;
}

.card-text {
  line-height: 78px;
}

.card.complete {
  background-color: green;
}

.card-success, .card-primary, .card-danger {
  position: absolute;
  bottom: 0;

  line-height: 0px;

  height: 20px;
  width: 30px;
  border: none;
  color: white;
}

.card-success {
  left: 0;
  background: green;
}

.card-danger {
  right: 0;
  background: red;
}

.card-primary {
  background: blue;
  left: 67px;
}

.card-primary a {
  color: white;
  height: 100%;
  line-height: 16px;
  text-decoration: none;
}