extends _partials/_layout.pug

block content
  .jumbotron Sign In
  .container
    a.btn.btn-danger(href="/auth/google") Google
  div
    form(action="/login", method="post")
      input.btn.btn-primary(type="submit", value="Log In")
  div
    a(href="/signup") signup