//- NOT WORKING YET

//- extends ../profile.pug

//- block card
//-   .card-text= task.text
//-   form(action="/tasks/edit/" + task.id, method="post")
//-     button.card-success(type="submit") &#10004;
//-     input(type="hidden", name="text", value=task.text)
//-     input(type="checkbox", name="completed", style="display:none")
//-   a(href="/tasks/edit/" + task.id)
//-     button.card-primary  &#9998;
//-   form(action="/tasks/delete/" + task.id, method="post")
//-     button.card-danger(type="submit") &#10006;